body {
  /*background-color: #263238;*/
  /*background-color: black;
  background-image: linear-gradient(to bottom, #263238 0%, black 85% , black 100%);
  background-attachment: fixed;
  color: #BDBDBD;*/
  font-family: "Lucida Console";
  font-size: 16px;
}
